*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
a{
	color: #444;
	text-decoration: none;
}
ol, ul{
	list-style-position: inside;
}
::selection{
	background: #f60c3e;
	color: #fff;
}
/*~Fonts*/
@font-face {
	font-family: 'Anyway Type';
	src: url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff2') format('woff2'),
		url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'Anyway Type';
	src: url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff2') format('woff2'),
	url('https://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}
body{
	font-family: 'Anyway Type', 'Myriad Pro', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	color: #444;
	font-size: 62.5%;
	text-align: center;
	display: flex;
	flex-direction: row;
}
aside{
	width: 20rem;
}
/*~Footer*/
footer{
	padding: 2em 0;
	color: #fff;
	display: block;
}

.site-title{
	font-size: 2rem;
	font-weight: 700;
}
.logo{
	text-align: center;
	width: 80%;
	height: auto;
	margin: 3em auto 1em;
}
.logo img{
	max-width: 100%;
}
.nav{
	text-align: center;
	display: flex;
	width: 100%;
	flex-direction: column;
}
.nav li{
	margin: 1em;
	font-size: .8rem;
	list-style: none;
	display: inline-block;
}
.nav li a{
	color: #222;
}
/*~Main*/
main{
	height: 100%;
	color: #fff;
	display: block;
	text-align: left;
	background: #f60c3e;
	padding: 3em;
	flex-grow: 1;
}
